# Lab 2 Inferential statistics - T-test & P-value

Instructions
We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. 
To test that hypothesis, the times it takes each machine to *pack ten cartons are recorded*. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt.
- nsample:10#
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

In [42]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns 
import codecs
import statistics 
import math
import seaborn as sns

In [12]:
f = codecs.open('c:/Users/kyear/Documents/Personal/Education/Ironhack/37_ML/lab-t-tests-p-values/files_for_lab/machine.txt', 'r', 'utf-16')
machines=pd.read_csv(f, sep = '\t')
machines

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

### Machines

- Ho= new_mean=old_mean
- Ha= new_mean<old_mean

In [32]:
mean_newmach=statistics.mean(machines['New machine'])
std_newmach=statistics.stdev(machines['New machine'])
print("Mean of the sample of NEW Machine is % s " %(mean_newmach)) 
print("Standard Deviation of the sample of NEW Machine is % s "%(std_newmach))

Mean of the sample of NEW Machine is 42.14
Standard Deviation of the sample of NEW Machine is 0.6834552736727638

In [33]:
mean_oldmach=statistics.mean(machines['    Old machine'])
std_oldmach=statistics.stdev(machines['    Old machine'])
print("Mean of the sample of OLD Machine is % s " %(mean_oldmach)) 
print("Standard Deviation of the sample of OLD Machine is % s "%(std_oldmach))

Mean of the sample of OLD Machine is 43.230000000000004
Standard Deviation of the sample of OLD Machine is 0.7498888806572158

In [66]:
n = 10

sample_mean1 = mean_newmach
sample_std1 = std_newmach
n1 = n
sample_mean2 = mean_oldmach
sample_std2 = std_oldmach
n2 = n

pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
print("T Statistic is: ", statistic)

T Statistic is:  -3.3972307061176026

In [67]:
# Using python to find the p value and critical value

from scipy.stats import t

print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.025, n1+n2-2)) #alpha is 0.05

P value is:  0.9983944287496127
Critical Value of z is:  -2.10092204024096